@use "../../../assets/styles/colors" as colors;

.logsHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  .logHeadline {
    margin: 0;
  }

  .logHeadline,
  .resetButton {
    color: colors.$WHITE;
  }
}

.logsContainer {
  height: 500px;
  border: 1px solid colors.$WHITE;
  border-radius: 6px;
  padding: 1rem 1rem;
  overflow-y: scroll;
  background: colors.$WHITE;

  .log {
    display: flex;
    color: colors.$BLACK;
  }
}
