<div class="container">
  <span class="app-name">Pomodoro</span>
  <nav>
    <ul>
      @for (item of navigationItems; track item) { @if((countdown.running ||
      countdown.isBreakActive) && item.path === 'einstellungen'){
      <li class="disabled">
        <a class="tooltip"
          >{{ item.title }}
          <div class="tooltiptext">Wecker aktiv</div>
        </a>
      </li>
      } @else {
      <li>
        <a
          #rla="routerLinkActive"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          [ngClass]="{ activeAnchor: rla.isActive }"
          routerLink="{{ item.path }}"
          ariaCurrentWhenActive="page"
          >{{ item.title }}
        </a>
      </li>
      } }
    </ul>
  </nav>
</div>
