@use "../../../assets/styles/colors" as colors;
@use "../../../assets/styles/sizes" as sizes;

:host {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 100%;
  max-width: sizes.$MAX_WIDTH;
  margin: 0 auto;
  user-select: none;

  .container {
    display: flex;
    width: 100%;
    align-items: center;

    .app-name,
    nav {
      align-items: center;
      font-family: "Montserrat";
    }

    .app-name {
      display: flex;
      flex: 0 1 50%;
      font-weight: 500;
      font-size: 1.25rem;
    }

    nav {
      display: flex;
      justify-content: space-evenly;
      flex: 0 1 50%;

      ul {
        display: flex;
        flex: 1 100%;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;

        .tooltip {
          position: relative;
          display: inline-block;
        }

        .tooltip .tooltiptext {
          visibility: hidden;
          background-color: colors.$HRM_PRIMARY_COLOR;
          color: colors.$WHITE;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
          position: absolute;
          z-index: 1;
          width: 85%;
        }

        .tooltip:hover .tooltiptext {
          visibility: visible;
        }

        .disabled {
          cursor: not-allowed;
          user-select: none;
        }

        li {
          display: flex;
          height: 100%;
          list-style: none;
          font-size: 14px;

          a {
            display: flex;
            align-items: center;
            height: 2.25rem;
            padding: 0.25rem 0.5rem;
            color: colors.$BLACK;
            text-decoration: none;

            &:hover {
              background: lighten(grey, 30%);
              border-top-left-radius: sizes.$TAB_BORDER_RADIUS;
              border-top-right-radius: sizes.$TAB_BORDER_RADIUS;
            }
          }

          .activeAnchor {
            background-color: colors.$HRM_PRIMARY_COLOR;
            color: colors.$WHITE;
            border: 0px solid transparent;
            border-bottom: none;
            border-top-left-radius: sizes.$TAB_BORDER_RADIUS;
            border-top-right-radius: sizes.$TAB_BORDER_RADIUS;
            &:hover {
              background: colors.$HRM_PRIMARY_COLOR;
            }
          }
          .countdownExpired {
            background-color: colors.$PULSE_BACKGROUND;
            transition: background-color, 0.25s;
            color: colors.$WHITE;
            border-top-right-radius: sizes.$TAB_BORDER_RADIUS;
            border-top-left-radius: sizes.$TAB_BORDER_RADIUS;

            &:hover {
              background: colors.$PULSE_BACKGROUND;
            }
          }
        }
      }
    }
  }
}
