<div class="container">
  <div class="timerContainer">
    <h2 class="timerStatus">
      <div>
        @if(tasksState.tasks.length === 0){
        <h2>
          Ziemlich leer hier... <br />
          Füge Aufgaben hinzu!
        </h2>
        } @else if(tasksState.isAllTasksDone) {
        <h2>
          Prima, alles fertig. <br />
          Zeit zum Entspannen!
        </h2>
        } @else {
        <div *ngIf="!tasksState.isAllTasksDone && countdownState.isBreakActive">
          <div *ngIf="countdownState.running; else pauseBlock">Pause läuft</div>
          <ng-template #pauseBlock>
            <div>Pause</div>
          </ng-template>
          <h3>Nächste Aufgabe: {{ tasksState.tasks[0].title }}</h3>
        </div>
        <div
          *ngIf="!tasksState.isAllTasksDone && !countdownState.isBreakActive"
        >
          <div *ngIf="countdownState.running; else weckerBlock">
            Wecker läuft
          </div>
          <ng-template #weckerBlock>
            <div>Wecker</div>
          </ng-template>
          <h3 *ngIf="tasksState.tasks[0]">
            Aufgabe: {{ tasksState.tasks[0].title }}
          </h3>
        </div>
        }
      </div>
    </h2>
    <div class="timer">
      {{ formatTimerDuration(countdownState.value) }}
    </div>
    <div class="timerControls upperControls">
      @if(!countdownState.running){
      <button
        mat-fab
        extended
        class="action-button"
        [ngClass]="{
          actionButtonDisabled:
            tasksState.isAllTasksDone || tasksState.tasks.length <= 1
        }"
        (click)="startCountdown()"
        [disabled]="tasksState.isAllTasksDone || tasksState.tasks.length <= 1"
        title="Start"
      >
        <mat-icon>play_arrow</mat-icon>
        Start
      </button>
      } @else {
      <button
        mat-fab
        extended
        class="action-button"
        (click)="stopCountdown()"
        title="Pause"
      >
        <mat-icon>pause</mat-icon>
        Pause
      </button>
      }
    </div>
    <div class="timerControls">
      <button
        mat-fab
        extended
        class="action-button"
        (click)="resetCountdownAndTasks()"
        [ngClass]="{
          actionButtonDisabled:
            countdownState.running ||
            tasksState.tasks.length === 0 ||
            isNoTaskDone
        }"
        [disabled]="
          countdownState.running ||
          tasksState.tasks.length === 0 ||
          isNoTaskDone
        "
        title="Wecker samt Aufgaben zurücksetzen"
      >
        <mat-icon>restart_alt</mat-icon>
        Alles
      </button>

      <button
        mat-fab
        extended
        class="action-button"
        [ngClass]="{
          actionButtonDisabled:
            countdownState.running ||
            countdownState.value === countdownState.startValue ||
            countdownState.value === countdownState.breakStartValue
        }"
        (click)="resetCurrentCountdown()"
        [disabled]="
          countdownState.running ||
          countdownState.value === countdownState.startValue ||
          countdownState.value === countdownState.breakStartValue
        "
        title="Zeit zurücksetzen"
      >
        <mat-icon>history</mat-icon>
        <div>Zeit</div>
      </button>
    </div>
  </div>

  <div class="tasksContainer">
    <div class="taskHeaderContainer">
      <span class="tasksTitle">Aufgaben</span>
      <div class="actions">
        <button
          mat-medium-icon-button
          mat-icon-button
          [ngClass]="{ actionButtonDisabled: countdownState.running }"
          [disabled]="countdownState.running"
          (click)="addExampleTasks()"
          title="Beispieldaten hinzufügen"
        >
          <mat-icon>quiz</mat-icon>
        </button>
        <button
          mat-medium-icon-button
          mat-icon-button
          [ngClass]="{
            actionButtonDisabled:
              countdownState.running || !tasksState.tasks.length
          }"
          [disabled]="countdownState.running || !tasksState.tasks.length"
          (click)="clearAllTasks()"
          title="Alle Aufgaben löschen"
        >
          <mat-icon>delete_sweep</mat-icon>
        </button>
        <button
          mat-medium-icon-button
          mat-icon-button
          (click)="addTaskDialog()"
          title="Aufgabe hinzufügen"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <hr />
    @for (task of tasksState.tasks; track task){
    <mat-card class="taskCard" [ngClass]="{ taskCardIsActive: task.isActive }">
      <mat-card-content
        ><div class="taskCardContent">
          <div class="taskDone">
            @if(task.isDone) {
            <mat-icon
              class="isDoneIcon"
              (click)="toggleTaskIsDone(task.id, task.isDone)"
              >check_circle</mat-icon
            >
            }@else {
            <mat-icon
              class="isDoneIcon"
              (click)="toggleTaskIsDone(task.id, task.isDone)"
              >check_circle_outlined</mat-icon
            >
            }
          </div>
          <div class="titleEditContainer">
            <div class="taskTitle">
              {{ task.title }}
            </div>
            <div class="editDeleteTaskContainer">
              @if(!countdownState.running){
              <mat-icon class="deleteIcon" (click)="deleteTaskDialog(task.id)"
                >delete</mat-icon
              >
              <mat-icon
                class="editIcon"
                (click)="editTaskDialog(task.title, task.id)"
                >edit</mat-icon
              >

              } @else {

              <mat-icon
                class="deleteIcon"
                [ngClass]="{ actionButtonDisabled: countdownState.running }"
                >delete</mat-icon
              >
              <mat-icon
                class="editIcon"
                [ngClass]="{ actionButtonDisabled: countdownState.running }"
                >edit</mat-icon
              >
              }
            </div>
          </div>
        </div></mat-card-content
      >
    </mat-card>
    }
  </div>
</div>
