@use "../../../assets/styles/colors" as colors;

.settings-form {
  display: flex;
  width: 100%;
  flex-direction: column;

  .settingsHeaderContainer {
    display: flex;
    justify-content: space-between;
    .resetButton {
      color: white;
    }
    .tabName {
      color: colors.$WHITE;
    }
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    .inputFullWidth {
      width: 45%;
    }
  }
}
