<form class="settings-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="settingsHeaderContainer">
    <h2 class="tabName">Einstellungen</h2>
    <button
      mat-icon-button
      mat-medium-icon-button
      class="resetButton"
      (click)="resetSettingsToInitial()"
      title="Auf Starteinstellungen zurücksetzen"
    >
      <mat-icon>history</mat-icon>
    </button>
  </div>
  <div class="inputContainer">
    <mat-form-field class="inputFullWidth">
      <mat-label>Dauer pro Aufgabe (Minuten)</mat-label>
      <input
        type="number"
        matInput
        formControlName="startValue"
        value="formGroup.startValue"
        [errorStateMatcher]="matcher"
        placeholder="25"
      />
      @if (formGroup && formGroup.controls['startValue'].hasError('required')) {
      <mat-error>Bitte gib eine Aufgabendauer an.</mat-error>
      } @if (formGroup.controls['startValue'].hasError('min')) {
      <mat-error>Aufgabendauer muss mindestens 0,1 betragen.</mat-error>
      } @if (formGroup.controls['startValue'].hasError('pattern')) {
      <mat-error
        >Aufgabendauer darf maximal <b>eine</b> Nachkommastelle
        haben.</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field class="inputFullWidth">
      <mat-label>Dauer pro Pause (Minuten)</mat-label>
      <input
        type="number"
        matInput
        formControlName="breakStartValue"
        value="formGroup.breakStartValue"
        [errorStateMatcher]="matcher"
        placeholder="25"
      />
      @if (formGroup &&
      formGroup.controls['breakStartValue'].hasError('required')) {
      <mat-error>Bitte gib eine Pausendauer an.</mat-error>
      } @if (formGroup.controls['breakStartValue'].hasError('min')) {
      <mat-error>Pausendauer muss mindestens 0,1 betragen.</mat-error>
      } @if (formGroup.controls['breakStartValue'].hasError('pattern')) {
      <mat-error
        >Pausendauer darf maximal <b>eine</b> Nachkommastelle haben.</mat-error
      >
      }
    </mat-form-field>
  </div>

  <button mat-flat-button type="submit" [disabled]="!formGroup.valid">
    Speichern
  </button>
</form>
