@use "../../../assets/styles/colors" as colors;

.settings-form {
  display: flex;
  width: 100%;
  flex-direction: column;

  .tabHeadliner {
    color: colors.$WHITE;
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    .inputFullWidth {
      width: 45%;
    }
  }
}
