<form class="settings-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2 class="tabHeadliner">Einstellungen</h2>
  <div class="inputContainer">
    <mat-form-field class="inputFullWidth">
      <mat-label>Dauer pro Aufgabe (Minuten)</mat-label>
      <input
        type="number"
        matInput
        formControlName="taskDuration"
        value="formGroup.taskDuration"
        [errorStateMatcher]="matcher"
        placeholder="25"
      />
      @if (formGroup &&
      !formGroup.controls['taskDuration'].hasError('required')) {
      <mat-error>Bitte gib eine Aufgabendauer an.</mat-error>
      } @if (formGroup.controls['taskDuration'].hasError('required')) {
      <mat-error
        >Angabe einer Aufgabendauer ist <strong>notwendig</strong>.</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field class="inputFullWidth">
      <mat-label>Dauer pro Pause (Minuten)</mat-label>
      <input
        type="number"
        matInput
        formControlName="breakDuration"
        value="secondsToMinutes(breakDuration)"
        [errorStateMatcher]="matcher"
        placeholder="25"
      />
      @if (formGroup &&
      !formGroup.controls['breakDuration'].hasError('required')) {
      <mat-error>Bitte gib eine Pausendauer an.</mat-error>
      } @if (formGroup.controls['breakDuration'].hasError('required')) {
      <mat-error
        >Angabe einer Pausendauer ist <strong>notwendig</strong>.</mat-error
      >
      }
    </mat-form-field>
  </div>

  <button mat-flat-button type="submit" [disabled]="!formGroup.valid">
    Speichern
  </button>
</form>
