@use "../assets/styles/sizes" as sizes;
@use "../assets/styles/colors" as colors;

:host {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  .views-container {
    background-color: colors.$HRM_PRIMARY_COLOR;
    width: 100%;
    max-width: sizes.$MAX_WIDTH;
    margin: 0 auto;
    border: 0px solid transparent;
    border-bottom: none;
    border-radius: sizes.$TAB_BORDER_RADIUS;

    .content-padding {
      padding: 1rem;
    }
  }

  .isLastRouteBorder {
    border-top-right-radius: 0;
  }

  .attentionAnimation {
    box-shadow: inset 0 0 0 colors.$HRM_PRIMARY_COLOR;
    border-radius: 6px;
    animation: pulse 2s 3 ease-in-out;
  }

  .config,
  .log {
    display: flex;
    flex-direction: column;

    .buttons {
      input {
        width: 100%;
      }
    }
  }
}

@keyframes pulse {
  0% {
    background-color: colors.$HRM_PRIMARY_COLOR;
  }

  70% {
    background-color: colors.$PULSE_BACKGROUND;
  }

  100% {
    background-color: colors.$HRM_PRIMARY_COLOR;
  }
}
